header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #f8f9fa; /* Adjust to your desired background color */
  border-radius: 12px;
  margin: 2.5em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-button{
  background-color: #5c3d99;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #5c3d99;
  transition: ease 0.3s;
}

.register-button:hover {
  background-color: #ffffff;
  color: #5c3d99;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  color: #D98982;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  margin: 0;
  text-decoration: none;
}

 #content #edit-form{
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: max-content;
  margin: 20px 40px;
  justify-self: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}
 #content #edit-form h1{ 
  margin-left: 0px;
  margin-bottom: 20px;
}
 #content #edit-form label{ 
  font-size: 2em;
  text-align: left;
}
 #content #edit-form textarea,  #content #edit-form input{ 
  width: 100%;
}

main {
  flex: 1;
}

main > header h1 {
  margin: 0;
  font-size: 1.8rem;
  color: #D98982;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: -20px;
  font-size: 2em;
}

.logo a {
  color: #D98982;
  text-decoration: none; 
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: -10px;
}

.logo a:hover {
  color: #D98982; 
  text-decoration: none;
}

.site-logo {
  width: 200px;
  height: auto;
  margin-right: -25px;
}

.user-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.user-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px
}

.user-info .profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-right: 100px;
}

.user-info .username {
  font-size: 1.3rem;
  color: #6BB7BF; 
  margin-right: 22px
}

main > header a.button, main > header span {
  margin: 0.5em;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > header a.button:hover {
  color: #D98982; 
  background-color: #ffffff; 
}


#content label {
  font-weight: normal;
  color: #333;
}

#content > form {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 25em;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

#content > form .error {
  font-weight: bold;
  color: #e63946;
}

#content > form .success {
  font-weight: bold;
  color: #2a9d8f;
}

#content > form input {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5em;
}
#content .login-form{
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  padding: 30px 20px;
}

.login-button {
  justify-self: center;
  color: #D98982;
  border: #D98982,2px solid;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1em;
  border-radius: 10px;

}

.login-button:hover {
  color: #ffffff;
  background-color: #D98982;
  border-color: #D98982;
}



input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color:#d98982c3;
  outline: none;
  box-shadow: 0 0 3px #D98982;
}




.header-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Centralizar itens horizontalmente */
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #D98982;
  margin-left: 20px; 
  margin-top: 10px; 
}

.new-button, #participate-button {
  border: solid 1px #F29C50;
  background-color: #F29C50; 
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; 
}

.new-button:hover, #participate-button:hover {
  background-color: #ffffff;
  color: #D98982;
  border: solid 1px #D98982;
  text-decoration: none;
}

.new-button:active{
  border: solid 1px #D98982;
  opacity: 0.8;
}
/* Publications*/
.publications-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.publication {
  position: relative; 
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  padding: 15px;
}

.publication:hover {
  transform: scale(1.05);
}

.publication img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-bottom: 1px solid #ddd;
}

.publication-content {
  padding: 15px;
  height: 200px;
}

.publication-title {
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-top: 3px;
  color: #333;
}

.publication-title-username {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #D98982;
}

.publication-description {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 15px;
  max-height: 3em;
  overflow: hidden;
  margin: 20px 0px;
  margin-bottom: 10px;
}
#des{
  font-style: bold;
  font-size: 1.2em;
  color: #4b4b4b;
}

.publication-meta {
  font-size: 1.2em;
  color: #999;
}

.publication-meta span {
  display:flex;
  margin-bottom: 5px;
}

#ranking{
  font-size: 1.5em;
  color: #6BB7BF;
}

.publication-meta span {
  display: block;
  margin-bottom: 5px;
}

.publication-actions {
  position: absolute;
  bottom: 0px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.publication-actions .edit-button, .edit-button {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #6BB7BF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #6BB7BF;
  transition: color 0.2s;
  font-size: 1.5em;
}

.publication-actions .edit-button:hover,.edit-button:hover {
  color: #ffffff;
  background-color: #6BB7BF;
  text-decoration: none;
}

.publication-actions .delete-button {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #dc3545;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  text-decoration: none;
  color: #dc3545;
  transition: color 0.2s;
  font-size: 1.5em;
}

.publication-actions .delete-button:hover {
  color: #ffffff;
  background-color: #dc3545;
}

.create-button,#create-group {
  background-color: #F29C50;
  border: 1px solid #F29C50;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}


.create-button:hover {
  background-color: #ffffff;
  color: #F29C50;
  border: 1px solid #F29C50;
}
.create-button:active {
  background-color: #ffffff;
  color: #F29C50;
  border-color:  #F29C50;
}

.bg-grey {
  background-color: #f8f9fa; /* Adjust to your desired gray shade */
}

.update-button {
  background-color: #D98982;
  border: 1px solid #D98982;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.update-button:hover {
  background-color: #ffffff;
  color: #D98982;
}

.header-right-search {
  position: relative; /* Necessário para o dropdown aparecer corretamente */
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.search-form {
  margin-top: 17px;
  align-self: center;
  display: flex;
  align-items: center;
  width: 200%; /* Permite que a largura da form ocupe 100% do contêiner */
  position: relative; /* Necessário para o posicionamento absoluto do dropdown */
}

.search-form input {
  font-size: 1.3em;
  width: 200%; /* Faz com que o campo de pesquisa ocupe toda a largura disponível */
  max-width: 700px; /* Limita a largura máxima do campo de pesquisa */
  box-sizing: border-box; /* Garante que o padding e a borda não afetem a largura */
  margin: 0; /* Remove qualquer margem para alinhar com o dropdown */
}

#search-dropdown {
  display: none; /* Começa escondido */
  position: absolute;
  top: 100%; /* Posiciona abaixo do campo de pesquisa */
  left: 0; /* Alinha à esquerda do campo de pesquisa */
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 59.5%; /* Faz o dropdown ter a mesma largura do campo de pesquisa */
  max-height: 200px; /* Limita a altura do dropdown */
  overflow-y: auto; /* Permite rolar se houver muitos resultados */
  box-sizing: border-box; /* Garante que o padding e a borda não afetem a largura */
}


.search-button {
  background-color: #D98982; 
  color: #fff;
  border: none;
  border: 1px solid #23c7b7;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-button:hover {
  background-color: #ffffff;
  color: #D98982;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.dropdown-menu a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover, .dropdown-menu a.active {
  background-color: #f0f0f0;
}



#search-dropdown a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

#search-dropdown a:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}


.group-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.group-card h2 {
  margin-top: 0;
}



.challenges-container {
  display: grid;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.challenge-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remaining-time{
  font-size: 1.5em;
  color: #F29C50;
  margin-right: 20px;
}
.challenge-title h1{
  margin-left: 0px;
}
.challenges-index h1{
  margin-left:0px;
  margin-bottom: 40px;
  color: #6BB7BF;
}

.challenges-index{
  margin-top: 20px;
  padding: 20px 40px;
  box-shadow: 7px 7px 50px 5px rgba(0,0,0,0.28);
  margin: 40px;
  border-radius: 10px;
}

#challenges-index-container,.challenge-show-container, #groups-index-container, #publications-index-container{
  box-shadow: 7px 7px 50px 5px rgba(0,0,0,0.28);
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
  margin-top: 0px;
}
#challenges-index-container{
  justify-self: center;
}

#publications-index-container{
  display: flex;
  justify-self: center;
  margin: 40px 0px;

}

.challenge-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: 0.1s;
}

.challenges-container #challenge-description{
  font-style: bold;
  font-size: 1.2em;
  color: #721c24;
}

.challenge-card a{
  color: black;
  text-decoration: none;
}

.challenge-card a:hover{
  color: black;
  text-decoration: none;
}
.challenge-card:hover{
  color: black;
  text-decoration: none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  transition: 0.1s;
  transform: translatex(+10px);
}
.challenge-card h2 {
  margin-top: 0;
  color: #D98982;
}
.challenge-selection , .group-navbar {
  background-color: #ffffff; 
  border: 2px solid #6BB7BF; 
  overflow: hidden;
  padding: 5px; 
  display: flex; 
  justify-content: space-around; 
  box-sizing: border-box; 
  margin: 0px ;
  border-radius: 10px;
  justify-self: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.challenge-selection {
  width: 100%;
}
#group-navbar{
  margin-top: 40px;
  margin: 0px 40px;
}

.challenge-selection a ,.group-navbar a{
  color: #6BB7BF; 
  padding: 14px 16px;
  text-decoration: none;
  flex: 1; /* Flex item para espaçamento igual */
  text-align: center; /* Centralizar texto */
  box-sizing: border-box; /* Incluir padding e border no tamanho total */
}
.challenge-selection a:hover, .group-navbar a:hover {
  background-color: #6BB7BF; /* Fundo ao passar o mouse */
  color: #ffffff; /* Cor do texto ao passar o mouse */
  text-decoration: none;
}

.challenge-selection a.active, .group-navbar a.active {
  background-color: #6BB7BF; /* Fundo branco */
  color: #ffffff; /* Cor do texto */
  border: 2px solid #6BB7BF; 
}
.challenge-selection a:first-child{
  border-radius: 7px 0px 0px 7px; 
  border-right: 5px;
}
.challenge-selection a:last-child{
  border-radius: 0px 7px 7px 0px; 
}

.challenge-form{
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  margin: 0px 450px;
  padding: 30px 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.challenge-form h1{
  margin: 0;
  color:#F29C50;
  margin-bottom: 30px;

}

.challenge-form textarea , .challenge-form input, .challenge-form select{
  margin-bottom: 30px;
}
.challenge-form textarea:focus , .challenge-form input:focus, .challenge-form select:focus{
  border-color:#f29c5076;
}

#navbar {
  width: 97.5%;
  background-color: #ffffff; /* Fundo branco */
  border: none;
  overflow: hidden;
  display: flex; /* Usar flexbox para espaçamento */
  justify-content: space-around; /* Espaçar itens igualmente */
  box-sizing: border-box; /* Incluir padding e border no tamanho total */
  margin: 30px;
  border-radius: 10px;
  padding: 0px;
  text-decoration: none;
  padding: 3px 0px;
  box-shadow: 3px 10px 104px -25px rgba(0,0,0,0.33);
}

.navbar a {
  background-color: #f1bb8c94;
  font-size: 1.3em;
  color: #F29C50; 
  padding: 14px 16px;
  text-decoration: none;
  flex: 1; /* Flex item para espaçamento igual */
  text-align: center; /* Centralizar texto */
  box-sizing: border-box; /* Incluir padding e border no tamanho total */
  margin-right: 3px;
}

.navbar a:hover {
  background-color: #f1bb8c94; /* Fundo ao passar o mouse */
  color: #ffffff; /* Cor do texto ao passar o mouse */
  text-decoration: none;
  transition: 0.2s;
}

.navbar a.active {
  background-color: #F29C50; /* Fundo branco */
  color: #ffffff; /* Cor do texto */

}
.navbar a:last-child{
  margin-right: 3px;
  border-radius: 0px 7px 7px 0px; 
}
.navbar a:first-child{
  margin-left: 3px;
  border-radius: 7px 0px 0px 7px; 
}

.groups-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
}

#view-more-group .view-more-group {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #D98982; /* Cor de fundo */
  color: #ffffff; /* Cor do texto */
  text-decoration: none; /* Remover sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
  margin-left: 161px;
  font-size: 1em;
}

.view-more-group:hover {
  background-color: #4a2d7a; /* Cor de fundo ao passar o mouse */
  color: #ffffff; /* Cor do texto ao passar o mouse */
}

.group-title {
  display: flex;
  text-align: center;
  font-size: 3.5rem;
  color: #D98982;
  flex: 1;
  margin-right: 30px;
  margin-bottom: 0px;
}

.group-title-edit {
  justify-self: center;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 20px;
  color: #D98982;
  flex: 1;
  margin-right: 130px;
}


.owner-tag {
  background-color: #D98982;
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 1.3rem;
}
.section {
  margin-top: 20px;
}

.section input, .section textarea, .section{
  margin-bottom: 20px;
}
.members-title {
  font-size: 3.3rem;
  margin-left: 20px; /* Ajuste conforme necessário */
  color: #D98982;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 70px;
  max-width: 700px;
  margin-left: auto; /* Centralizar a tabela */
  margin-right: auto;
}

.members-table th, .members-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
  font-size: 1.4em;
}

.members-table th {
  background-color: #f5f5f5;
  font-size: 1.4em;
}

.members-table td {
  background-color: #ffffff;
  font-size: 1.4em;
}
.group-description{
  margin-top: 40px;
  margin-left: 40px;
  font-size: 2.5rem;
  text-align: left;
  color: #707070;
}

#description-section{
  display: flex;
  flex-direction: row;
}

.group-text{
  margin-left: 40px;
  font-size: 1.8rem;
  border-left: 1px solid #aaa9a9;
  margin-bottom: 40px;
}

.group-image{
  display: block;
  max-width: 200px;
  margin-left: 40px;
  border-bottom: 40px;
}
.created-data-group{
  text-align: right;
  font-size: 1.8rem;
  color: #aaa9a9;
}
.num-participants-group{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 1.6em;
}

.go-back-button {
  display: inline-block;
  background-color: #6BB7BF;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #6BB7BF;
  transition: ease 0.3s;
}

.go-back-button:hover {
  background-color: #ffffff;
  color: #6BB7BF;
  text-decoration: none;
}

#group-go-back{
  margin: 0px;
}

.verify-button{
  display: inline-block;
  background-color: #D98982;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #D98982;
  transition: ease 0.3s;
}

.verify-button:hover {
  background-color: #ffffff;
  color: #D98982;
  text-decoration: none;
}

.go-back-messages-button{
  display: inline-block;
  background-color: #D98982;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #D98982;
  transition: ease 0.3s;
}

.go-back-messages-button:hover{
  background-color: #ffffff;
  color: #D98982;
  text-decoration: none;
}

.group-container, .container{
  padding: 40px 0px;
  margin: 0px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.header-group-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.header-challenge-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-challenge-container h1{
  margin-left: 0px;
}


.group-buttons{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border: 1px solid #979797;
  padding: 20px;
  border-radius: 10px;
}
.group-buttons a, .group-buttons button{
  margin: 10px 0px;  ;
}

#badge{
  padding: 10px 20px;
  margin-left: 40 px;
  font-size: 0.7em;
}
.edit-title {
  font-size: 2.5rem;
  color: #D98982;
  text-align: center;
  margin-bottom: 20px;
}

.edit-group-field {
  margin-bottom: 20px;
  text-align: center;
}

.edit-group-field label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.edit-group-field input[type="text"],
.edit-group-field textarea {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-changes-button {
  background-color: #F29C50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px;
}

.save-changes-button:hover {
  background-color: #F29C50;
  opacity: 0.5;
}

.members-title {
  font-size: 3.3rem;
  margin-left: 20px; /* Ajuste conforme necessário */
  color: #D98982;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto; /* Centralizar a tabela */
  margin-right: auto; /* Centralizar a tabela */
  margin-top: 50px;
}

.remove-member-button {
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-member-button:hover {
  background-color: #ff1a1a;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons .button {
  margin-left: 10px;
  background-color: #D98982;
  color: #ffffff;
  border: 2px solid #D98982;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.header-buttons .button:hover {
  background-color: #ffffff;
  color: #D98982;
  border-color: #D98982;
}




.group-edit-box {
  max-width: 900px;
  width: 100%; /* Garantir que o input ocupe toda a largura disponível */
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-group-field label {
  display: block;
  font-size: 3em; /* Aumentar o tamanho do texto */
  font-weight: bold; /* Deixar o texto em negrito */
  margin-bottom: 10px;
  text-align: center; /* Centralizar o texto */
}

.add-member-container {
  max-width: 900px;
  position: relative;
  margin: 0 auto; /* Centralizar o container */
}

.add-member-input-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centralizar o conteúdo */
}

.add-member-input {
  width: 50%; /* Ajuste conforme necessário para o comprimento desejado */
  padding: 10px;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; /* Bordas arredondadas à esquerda */
  margin: 0; /* Remover margem */
  display: block; /* Garantir que o input seja um bloco */
}

.add-member-button {
  background-color: #D98982;
  color: #ffffff;
  border: 2px solid #D98982;
  padding: 0.5em 1em;
  border-radius: 0 5px 5px 0; /* Bordas arredondadas à direita */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  cursor: pointer;
  display: block; /* Garantir que o botão seja um bloco */
}

.add-member-button:hover {
  background-color: #ffffff;
  color: #D98982;
  border-color: #D98982;
}

.add-member-dropdown {
  display: none; /* Começa escondido */
  position: relative;
  top: calc(100% + 5px); /* Posiciona abaixo do campo de input */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta a posição para centralizar */
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 50%; /* Faz o dropdown ter a mesma largura do campo de input */
  max-height: 200px; /* Limita a altura do dropdown */
  overflow-y: auto; /* Permite rolar se houver muitos resultados */
  box-sizing: border-box; /* Garante que o padding e a borda não afetem a largura */
  border-radius: 0 0 5px 5px; /* Bordas arredondadas na parte inferior */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra para o dropdown */
}

.add-member-dropdown .autocomplete-item {
  padding: 8px 12px;
  cursor: pointer;
}

.add-member-dropdown .autocomplete-item:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

.replies {
  margin-top: 20px; /* Adiciona uma margem superior para separar as respostas do comentário anterior */
}

.reply {
  margin-top: 10px; /* Adiciona uma margem superior para separar cada resposta individualmente */
  padding-left: 20px; /* Adiciona um recuo para diferenciar visualmente as respostas dos comentários principais */
  border-left: 2px solid #ddd; /* Adiciona uma borda esquerda para indicar que é uma resposta */
}

.reply .edit-button,
.reply .btn-danger,
.reply .btn-link {
  margin-top: 10px; /* Adiciona uma margem superior aos botões dentro das respostas */
}



.notifications-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
  gap: 20px;
  padding: 20px;
}

.notification-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
  padding: 15px;
}

.notification-card:hover {
  transform: scale(1.05); /* Subtle hover effect */
}
.notification-card.viewed {
  background-color: #f0f0f0;
  color: #888;
}

.notification-card img {
  width: 64px; /* Adjust size for emitter's photo */
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.notification-content p:first-child {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}

.notification-content p:last-child {
  font-size: 0.95em;
  color: #666;
}

.notification-meta {
  font-size: 0.9em;
  color: #999;
  margin-top: 10px;
}



.join-group-button {
  width: 100%;
  display: flex;
  background-color: #D98982;
  color: #ffffff;
  padding: 20px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #D98982;
  transition: ease 0.3s;
  align-items: center;
  justify-content: center;
}



.join-group-button:hover {
  background-color: #ffffff;
  color: #D98982;
  text-decoration: none;
  border-color: #D98982;
}

.join-button {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.group-requests-section {
  margin-top: 40px;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.remove-member-button {
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-member-button:hover {
  background-color: #ff1a1a;
}

.group-requests-section {
  margin-top: 40px;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.remove-member-button {
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-member-button:hover {
  background-color: #ff1a1a;
}

.publication-container{
  display: flex;
  flex-direction:row ;
}

.publication-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin:0 40px;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  padding-bottom: 40px;
  border-radius: 10px;
}
.publication-container .publication-description{
  max-height: 10em;
  overflow-y: scroll;
}
#publication-details{
  margin-left: 0px;
  margin-top: 7px;
  height: fit-content;
}
#publication-image{
  width: 900px;
  margin-right: 20px;
}

.publication-title-and-actions {
  display: flex;
  flex-direction: row;
}
.publication-details .publication-actions {
  position: relative;
  top: 0px;
  left: 0px;
  flex-direction: row;
  margin-left: 30px;
  max-height: 40px;
}

.publication-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border-left: rgba(195, 194, 194, 0.654) 1px solid;
  width: 30em;
  height: 100%;

}


.publication-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.publication-info p {
  margin: 5px 0;
}

.publication-info a {
  color: #007bff;
  text-decoration: none;
}

#submit-button, #submit-reply-button{
  background-color: #F29C50;
  border-color: #F29C50;
  width: 100%;
  border-radius: 10px;
}
#submit-button:hover, #submit-reply-button:hover{
  background-color: #ffffff;
  color: #F29C50;
}

.publication-details #ranking{
  position: relative;
  bottom: 0px;
  font-size: 1.8em;
}


.ranking-section{
  margin-top: 80px ;
  background-color: #fff;
  border: 1px solid #808080;
  padding: 5px 20px 0px 20px;
  border-radius: 10px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
}

.botao {
  background-color: #D98982;
}

.botao:hover {
  background-color: #3c2767;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #a71d2a;
}

.btn-success {
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #1e7e34;
}

.comments-container .button{
  border-radius: 5px;
  color: #ffffff;
  background-color: #F29C50;
  border-color:#F29C50;
}
.comments-container .button:hover{
  background-color: transparent;
  color: #F29C50;
}

/* Comments Section */
.comments-container{
  display: flex;
  flex-direction: column;
  margin: 80px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}
.comments-container .edit-button {
  border-radius: 5px;
  border: 1px solid #6BB7BF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 40px;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 1.5em;
  background-color: #6BB7BF;
  color: #ffffff;
  margin-right: 10px;
}
.comments-container .edit-button:hover {
  background-color: #f1f1f1;
  color: #6BB7BF;
}

.comments-container  .btn-danger{
  width: 65px;
  height: 40px;
  border-radius: 5px;
}
.comments-container  .btn-danger:hover{
  background-color: #f1f1f1;
  color: #dc3545;
}

.comment-actions{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.comments-container small{
  margin-bottom: 20px;

}

.comments-container .user-name {
  font-size: 1.5em;
}
.comments-container .user-name:hover {
  color: #D98982;
  text-decoration: none;
}

.comment-text{
  font-size: 1.5em;
}
.comment {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.comment p {
  margin: 0;
}

.comment small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #666;
}

/* Add Comment Form */
.add-comment-form {
  margin-top: 20px;
}

.add-comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

.add-comment-form button {
  display: block;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
  .publication-details {
      flex-direction: column;
      align-items: center;
  }

  .publication-details img {
      max-width: 100%;
  }
}

.group-requests-section {
  margin-top: 40px;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.go-back-request-button {
  display: inline-block;
  background-color: #D98982;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-left: 0;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #D98982;
  transition: ease 0.3s;
}

.go-back-request-button:hover {
  background-color: #ffffff;
  color: #D98982;
  text-decoration: none;
}

.members-requests-title {
  font-size: 3.3rem;
  margin-left: 20px; /* Ajuste conforme necessário */
  color: #D98982;
  margin-top: 30px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  margin-left: 0px;
  margin-bottom: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.message {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.profile-picture-messages {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-content {
  flex: 1;
}

.message-content a {
  font-weight: bold;
  color: #D98982;
  text-decoration: none;
}

.message-content a:hover {
  text-decoration: underline;
}

.message-time {
  font-size: 0.8rem;
  color: #999;
  margin-left: 10px;
}

.message-content p {
  margin: 5px 0;
}

.delete-message-form {
  display: inline;
}

.delete-message-button {
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-message-button:hover {
  background-color: #ff1a1a;
}

.send-message-form {
  display: flex;
  gap: 10px;
}

.send-message-form textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.send-message-button {
  background-color: #D98982;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.send-message-button:hover {
  background-color: #4a2d7a;
}

.message-title-chat{
  margin-bottom: 50px;
}

.group-chat-button {
  width: 100%;
  display: inline-block;
  background-color: #D98982;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #D98982;
  transition: ease 0.3s;
}

.group-chat-button:hover {
  background-color: #ffffff;
  color: #D98982;
  text-decoration: none;
}
.create-challenge-button {
  display: inline-block;
  background-color: #D98982;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #D98982;
  transition: ease 0.3s;
  margin-right: 40px;
  margin-top: 18px;
}
.create-challenge-button:hover {
  background-color: #ffffff;
  color: #D98982;
  text-decoration: none;
}

.site-footer {
  background-color: rgb(87, 87, 87);
  color: #ffffff;
  padding: 2px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.site-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #dbdbdb;
}

.footer-info {
  font-size: 0.9rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.help-card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.faq-questions {
  margin-top: 20px;
}

.question {
  margin-bottom: 20px;
}

.question h2 {
  color: rgb(130, 130, 130);
  cursor: pointer;
}
.question:hover {
  text-decoration: none;
  text-shadow:  0 4px 12px rgba(0, 0, 0, 0.1);
}

.question .collapse {
  margin-top: 10px;
}

.question .collapse p {
  font-size: 1.4rem; 
}

.help-contacts {
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.help-contacts h1 {
  color: #D98982;
  margin-bottom: 20px;
  font-size: 3.0rem;
  font-weight: bold;
}

.help-contacts ul {
  list-style-type: none;
  padding: 0;
}

.help-contacts ul li {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333333;
}

.help-contacts ul li a {
  color: #D98982;
  text-decoration: none;
  font-size: 1em;
}

.help-contacts ul li a:hover {
  text-decoration: underline;
}

.faq-title{
  font-size: 3.0rem;
  color: #D98982;
  font-weight: bold;
  margin-bottom: 40px;
}

.about-container {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.about-container h1 {
  color: #D98982;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.about-container p {
  font-size: 1.2rem;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.feature-card {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-right: 5px;
  border-radius: 8px;
  padding: 20px;
  width: 45%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-card h3 {
  color: #D98982;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.feature-card ul {
  list-style-type: none;
  padding: 0;
}

.feature-card ul li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333333;
}

.authors-section {
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.authors-section h2 {
  color: #D98982;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.authors-section ul {
  list-style-type: none;
  padding: 0;
}

.authors-section ul li {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 10px;
}

.authors-section ul li a {
  color: #D98982;
  text-decoration: none;
}

.authors-section ul li a:hover {
  text-decoration: underline;
}

.alert {
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.help-title{
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 40px;
}

.ask-question {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.ask-question h2 {
  color: #D98982; /* Cor do título */
  font-size: 2.5rem; /* Tamanho do título */
  margin-bottom: 15px;
  font-weight: bold;
}

.ask-question textarea {
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  resize: vertical;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.ask-question button {
  background-color: #D98982;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.ask-question button:hover {
  background-color: #4a2f7a;
}

@media (max-width: 768px) {
  .ask-question h2 {
      font-size: 1.5rem; /* Ajustar tamanho do título para dispositivos móveis */
  }

  .ask-question textarea {
      height: 80px; /* Ajustar altura do textarea para dispositivos móveis */
  }

  .ask-question button {
      width: 100%; /* Botão ocupa toda a largura em dispositivos móveis */
      padding: 10px;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  color: #333333;
  margin-bottom: 5px;
}

.btn-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #D98982;
  text-decoration: none;
  transition: color 0.3s ease;
}

.btn-delete-account {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: block;
  margin: 30px auto;
  text-align: center;
}

.btn-delete-account:hover {
  background-color: #c82333;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
}

.leave-button{
  text-align: center;
}

.delete-group{
  margin: 0;
  text-align: center;
}

.leave-group-button{
  display: inline-block;
  background-color: #dc3545;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: right;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #dc3545;
  transition: ease 0.3s;
  margin-left: auto;
  margin-right: auto;
}

.delete-group-button, .delete-challenge-button{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-align: right;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #dc3545;
  transition: ease 0.3s;
  margin: 0px;
}
.delete-group-button:hover, .delete-challenge-button:hover{
  background-color: #ffffff;
  color: #dc3545;
  text-decoration: none;
  border-color: #dc3545;

}

.admin-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-section h2 {
  margin-top: 0;
  color: #D98982;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-table th, .admin-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
}

.admin-table th {
  background-color: #f5f5f5;
}

.admin-table td {
  background-color: #ffffff;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-append {
  margin-left: 10px;
}

.btn-outline-secondary {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-outline-secondary:hover {
  background-color: #f0f0f0;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.mt-2 {
  margin-top: 10px;
}

.group-edit-info{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.btn-primary-recover{
  background-color: #D98982;
  color: #D98982;
}

.btn-primary-recover:hover {
  background-color: #ffffff;
  color: #D98982;
  text-decoration: none;
}

.filter-container {
  position: relative;
  display: inline-block;
  margin-left: 50px;
}

.filter-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter-options {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 150px;
}

.filter-option {
  padding: 10px;
  cursor: pointer;
}

.filter-option:hover {
  background-color: #f0f0f0;
}

#search-groups {
  width: 100%;
  max-width: 700px; /* Ajuste o valor conforme necessário */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #search-groups {
      max-width: 100%;
  }
}

/*  Pop up */

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
      opacity: 0;
      transform: translateX(100%);
  }
}

.popup-notification {
  position: relative;
  top: 0;
  right: 0;
  margin: 10px 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.4s ease, fadeOut 30s ease 199.6s;
  pointer-events: auto;
  cursor: pointer;
  transition: all 20s;
  background: #007bff;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  animation: slideIn 0.4s ease;
  width: 300px;
  font-family: Arial, sans-serif;
}

.header-challenge-container,.header-publication-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.profile-picture-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  border: 1.2px solid #4285F4;
  border-radius: 4px;
  color: #4285F4;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.google-button:hover {
  background-color: #4285F4;
  color: #fff;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

a:hover, a:focus {
  color: #ffffff;
  background-color: #5c3d99;
  outline: 2px solid #5c3d99;
  text-decoration: none;
}

/* Botões */
button:hover, button:focus,
.btn:hover, .btn:focus,
.create-button:hover, .create-button:focus,
.update-button:hover, .update-button:focus,
.save-changes-button:hover, .save-changes-button:focus,
.go-back-button:hover, .go-back-button:focus,
.verify-button:hover, .verify-button:focus,
.join-group-button:hover, .join-group-button:focus,
.group-chat-button:hover, .group-chat-button:focus,
.create-challenge-button:hover, .create-challenge-button:focus {
  background-color: #ffffff;
  color: #5c3d99;
  outline: 2px solid #5c3d99;
  text-decoration: none;
}

/* Outros elementos interativos */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #5c3d99;
  outline: none;
  box-shadow: 0 0 3px #5c3d99;
}
.required-asterisk {
  color: red;
  margin-left: 2px;
}